$blue: #324157;
$light-blue: #3A71A8;
$red: #C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;
//sidebar
$menuBg: #FFFFFF;
$subMenuBg: #FFFFFF;
$menuHover: #3889ED;


$mainColor: #2587FF;


$secondaryBlue: #F8FBFF; //次级蓝色【浅蓝】

// 辅助色
$secondaryColorLevel1: #333333; //主要文字
$secondaryColorLevel2: #666666; //常规文字
$secondaryColorLevel3: #999999; //次要文字
$secondaryColorLevel4: #CCCCCC; //占位文字

$danger: #f56c6c;

$borderColor1:#E8E8E8

